@import "materialize/components/color";
$primary-color: color("blue", "lighten-1") !default;
$secondary-color: color("blue", "lighten-2") !default;

@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


.input-field div.error{
  position: relative;
  top: -1rem;
  left: 0rem;
  font-size: 0.8rem;
  color:#FF4081;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}

.input-field label.active{
    width:100%;
}

#long > .btn {
   width: 100%;
}
  