<div class="row">
	<h3 style = "text-align: center"> Eventos </h3>
</div>

<div class="row">
	<table class="bordered highlight responsive-table">
    <thead>
      <tr>
        <th style = "text-align: center;">Nombre</th>
        <th style = "text-align: center;">Información</th>
        <th style = "text-align: center;">Editar</th>
      </tr>
    </thead>

    <tbody>
      <%@eventos.each do |evento|%>
      <tr>
        <td style = "text-align: center;"><%=evento.nombre%></td>
        <td style = "text-align: center;"><%=evento.descripcion%></td>
        <td style = "text-align: center;"><%= link_to 'Editar evento', edit_evento_path(evento) %></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>

<%= link_to "Regresar", :back, {:class=>"btn btn-default"} %>