<div class="row">
	<h3> Eventos </h3>
</div>

<div class="row">
	<table class="bordered highlight responsive-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Información</th>
        <th>Editar</th>
      </tr>
    </thead>

    <tbody>
      <%@eventos.each do |evento|%>
      <tr>
        <td><%=evento.nombre%></td>
        <td><%=evento.descripcion%></td>
        <td><%= link_to 'Editar evento', edit_evento_path(evento) %></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>

<div class="row">
	<%= will_paginate @admins %>
</div>