<!--Grupo Navbar-->
<nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">Grupos Estudiantiles</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">¿Quiénes grupo?</a></li>
      <li><a href="#">Experiencias</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </div>
</nav>